*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: "Roboto", sans-serif;
}
input, select{
    font-family: inherit;
}
a{
    text-decoration: none;
    color: #b6b6b6;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
.btn{
    background: transparent;
    padding: 10px 35px;
    border: 2px solid #000;
    border-radius: 10px;
    font-weight: 900;
    transition: .3s ease-in-out;
    font-size: 1rem;
}
.btn:hover{
    background-color: #000;
    color: #b6b6b6;
    cursor: pointer;
}
.btnSelected{
    background: #000 !important;
    color: #b6b6b6 !important;
}
select{
    -webkit-appearance: none; /* Removes default WebKit styling */
    -moz-appearance: none;    /* For Firefox */
    appearance: none;         /* Standard syntax */
    background: none;
}
.dropDownParent{
    position: relative;
    width: 100%;
}
.dropdown::before{
    content: "▼";
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(30%);
    pointer-events: none;
    font-size: 12px;
}
/* ========================================
===================CSS Start===============
=========================================== */
#loginForm{
    height: 100vh;
    padding: 40px 0;
    background: url('../images/cover.jpg') no-repeat center;
    background-size: cover;
}
#loginForm .mainHeading{
    text-align: center;
    margin: 20px 0;
}
#loginForm .form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#loginForm .form .sign_options{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 10px 0;
}
#loginForm .form .user_data{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    background: rgba(128, 128, 128, 0.45);
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 50px;
}
input,
select{
    width: 100%;
    padding: 10px 20px;
    border-radius: 8px 20px;
    background: transparent;
    border: 2px solid black;
    font-weight: 700;
    font-size: 1rem;
}
input:focus,
select:focus{
    outline: none;
}
input::placeholder,
select,
#loginForm .form .user_data label{
    font-weight: 700;
}
input::placeholder,
select{
    font-size: 1rem;
    color: #2b2b2b;
}
#loginForm .form .user_data .name,
#loginForm .form .user_data .dateBirth,
#loginForm .form .user_data .contact,
#loginForm .form .user_data .password,
#loginForm .form .user_data .gen_loc{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
#loginForm .form .user_data .name > div,
#loginForm .form .user_data .contact > div,
#loginForm .form .user_data .password > div,
#loginForm .form .user_data .gen_loc > div{
    flex: 1;
}
#loginForm .form .user_data .location,
#loginForm .form .user_data .gender,
#loginForm .form .user_data .dateBirth > div{
    width: 100%;
}
#loginForm .form .user_data .dateBirth .dateBirthData{
    display: flex;
    gap: 10px;
}
#loginForm .form .user_data .terms{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
#loginForm .form .user_data .terms input{
    width: 16px;
    height: 16px;
}
#country_code_option{
    width: 35%;
    border-radius: 8px 0 0 25px;
}
#phone_number{
    width: 63%;
    border-radius: 0 25px 8px 0;
}
#loginForm .form .contact .phone .phone-input{
    position: relative;
}
#loginForm .form .contact .phone .phone-input .drop_down::before{
    content: "▼";
    position: absolute;
    top: 50%;
    left: 29%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 12px;
}